@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/* font-family: 'Poppins', sans-serif;  */
*{
    font-family: 'Poppins', sans-serif ;
}
nav{
    font-weight: 600 ;
}
nav .navbar-brand{  
    font-size: 35px ;
    color: #4A4A4A ;
}
.nav-items{
    font-weight: 400;
    font-size: 1vw;
}
.carousel-inner img{
    filter: brightness(50%);
}
.carousel-text h1{
    font-weight: 600;
    font-size: 55px;
    color: #FFFFFF;
}
.carousel-text p{
    font-weight: 400;
font-size: 18px;
color: #F4F4F4;
} 
.slider-btn button{
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
}
.carousel-caption{
    top: 0;
}
main{
    margin-top: 130px;
}
.course-header-text h2{
    font-weight: 600;
    font-size: 45px;
    color: #1D1D1D;
}
.course-header-text p{
    font-weight: 400;
    font-size: 16px;
    color: #777777;
}
.card{
    max-width: 648px;
    padding: 0;
    margin: 0;
}
.card-body{
    padding: 0;
    padding: 25px 20px;
}
.card-title{
    font-weight: 600;
    font-size: 25px;
}
.card-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #777777;
    padding: 0;
    margin: 0;
    padding: 10px auto;
}
.course-price{
    font-weight: 600;
    font-size: 18px;
    color: #289BDE;
    padding: 0;
    margin: 0;
    padding-top: 10px;
}
.register-container{
    padding-top: 10px;
    background: #289BDE;
    height: 30vh;
    object-fit: cover;
}
.reg-txt h2{
    font-weight: 600;
    font-size: 40px;
    color: #FFFFFF;
}
.register-container p{
    font-weight: 400;
    font-size: 16px;
    color: #F4F4F4;
    padding-bottom: 5%;
}
.faq-header h2{
    font-weight: 600;
    font-size: 45px;
    color: #1D1D1D;
}
.faq-header p{
    font-weight: 400;
    font-size: 16px;
    color: #777777;
}
.accordion-button{
    font-weight: 600;
    font-size: 20px;
    color: #4A4A4A !important;
}
.accordion-body{
    font-weight: 400;
    font-size: 16px;
    color: #777777;
}
.accordion-body strong{
    font-size: 18px;
    color: #4A4A4A;
}
.company-container h2{
    font-weight: 600;
    font-size: 45px;
    color: #1D1D1D;
}
footer{
    background: #161616;
}
.footer-container{
    padding-top: 60px;
}
footer h2{
    font-weight: 600;
    font-size: 40px;
    color: #FFFFFF;
}
footer p{
    font-weight: 400;
    font-size: 16px;
    color: #E8E8E8;
}
.social-icons{
    margin: auto 680px;
    padding-bottom: 50px;
}
.icons{
    font-size: 30px;
    color: white;
    
}
/* mobile version  */
@media screen and (max-width: 576px){
    .carousel-inner img {
        height: 40vh;
        object-fit: cover;
    }
    .carousel-text h1{
        font-weight: 600;
        font-size: 20px;
        color: #FFFFFF;
    }
    .carousel-text p{
        font-weight: 400;
        font-size: 12px;
        color: #F4F4F4;
    } 
    .slider-btn button{
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
        padding: 8px 18px !important;
    }
    main{
        margin-top: 32px;
    }
    .course-header-text h2{
        font-size: 25px;
    }
    .course-header-text p{
        font-size: 14px;
    }
    .card{
        max-width: 345px;
    }
    .card-title{
        font-weight: 600;
        font-size: 20px;
    }
    .card-text{
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        padding: 0;
        margin: 0;
        padding: 12px auto;
    }
    .register-container{
        background: #289BDE;
        height: 45vh;
        object-fit: cover;
    }
    .reg-txt h2{
        font-size: 30px;
    }
    .reg-txt p{
        font-size: 16px;
        padding-top: 15px;
    }
    .reg-btn button{
        padding: 0;
        padding-bottom: 10px;

    }
    .faq-header h2{
        font-size: 20px;
        color: #1D1D1D;
    }
    .faq-header p{
        font-size: 14px;
    }
    .accordion-button{
        font-size: 14px;
    }
    .accordion-body{
        font-size: 14px;
    }
    .accordion-body strong{
        font-size: 16px;
    }
    footer h2{
        font-size: 30px;
    }
    footer p{
        font-size: 14px;
    }
    .social-icons{
        margin: 0;
        margin: auto ;
        padding: 0;
        padding-bottom: 30px;
    }   
    
}
/* tablet version  */
@media screen and (min-width: 577px) and (max-width: 991px){
    .carousel-text h1{
        font-weight: 600;
        font-size: 40px;
        color: #FFFFFF;
    }
    .carousel-text p{
        font-weight: 400;
    font-size: 16px;
    color: #F4F4F4;
    } 
    .slider-btn button{
        font-weight: 500;
        font-size: 18px;
        color: #FFFFFF;
    }
    main{
        margin-top: 60px;
    }
    .course-header-text h2{
        font-size: 30px;
    }
    .social-icons{
        margin: 0;
        padding: 0;
        padding-bottom: 50px;
        margin-top: 30px;
    }
    .social-icons i + i{
        margin-left: 5px;
    }
    
}